# **IEOR 4650  Business Analytics (Fall 2019)**

**Homework 1 [Total points: 60]**

** Due: 11:59 PM, September 28**

This first homework consists of Python programming practices and the applications to data clearning and linear regression. 

The steps to finish in the homework:

*   Step 1: Make a copy of the file to your LionDrive.
*   Step 2: Work with the copy (an ipynb file).
*    <font color='red'>**Step 3: Rename the copy to your_uni_hw1.ipynb (For example: yd4501_hw1.ipynb).**</font>  
*   Step 4: Submit the copy on CourseWorks.

Before you submit your assignment, make sure to re-run your code from the beginning. (You can do so by first clicking Runtime/Reset All Runtimes and then clicking Runtime/Run all)


**All the questions in this homework requires coding**

In [0]:
#This imports all the packages you need for the homework
#Please run this first


!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)


#import modules

import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

## Exercise 1 [Total: 22 Points]

In this exercise, we will work on some exercises that practices our data manipulation skills.




<div>
<img src="https://http2.mlstatic.com/poster-pokemon-full-hd-42x29cm-frete-gratis-D_NQ_NP_752705-MLB25053489227_092016-F.jpg" width="250"/>
</div>

## Setting
Pokemon is a very popular video game, in which the trainer catches pokemon and use them for battling. Each pokemon has its name and its pokedex. A Pokemon belongs to at least 1 and at most 2 Pokemon types.  There are different stats to measure the combat power of a pokemon, which include HP, Attack, Defense, Special Attack Strength, Special Defensive Strength, and Speed. Pokemon are usually released in batches. Thus, they have different generations. In addition, a pokemon can either be a regular pokemon and legendary pokemon. 



|Variable| Description|
|---|---|
|PokeDex |PokeDex index number|
| Name | Name of the Pokemon  |  
| Type 1 | Type of pokemon  |  
| Type 2 | Other Type of Pokemon  |  
| HP |  Hit Points  |  
| Attack |  Attack Strength  |  
| Defense |  Defensive Strength  |  
| Sp. Atk |  Special Attack Strength  |  
| Sp. Def |  Special Defensive Strength  |  
| Speed | Speed  |  
| Generation | Number of generation  |  
| Legendary |  True if Legendary Pokemon False if not | "

In [0]:
#Load the dataset 
link="https://drive.google.com/open?id=1wX36WLNOPLPVU7BCA-J9bBhGZPwuFqol"
_,id=link.split("=")
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('myfile.csv')  
Pokemon = pd.read_csv('myfile.csv')
Pokemon.head(5)

   PokeDex        Name Type_1  Type_2  ...  Sp_Def  Speed  Generation  Legendary
0        1   Bulbasaur  Grass  Poison  ...      65     45           1      False
1        2     Ivysaur  Grass  Poison  ...      80     60           1      False
2        3    Venusaur  Grass  Poison  ...     100     80           1      False
3        4  Charmander   Fire     ***  ...      50     65           1      False
4        5  Charmeleon   Fire     ***  ...      65     80           1      False

[5 rows x 12 columns]

### Q1 [2 points]
* Find the number of unique pokemon in the table. [hint: you want to make sure the same pokemon name does not appear twice in the table]

**Make sure to print out the result**

In [0]:
Nuniques=Pokemon["Name"].nunique()
print(Nuniques)

721

In [0]:
#if the student simply does 
Pokemon.shape[0]
# 1 point will be deducted

721

### Q2. [4 points]

* Add one additional column named "Total" to the table 
> The value of Total for each pokemon is equal to the sum of all the stats numbers for each pokemon (HP+Attack+Defense+Sp. Atk+Sp. Def+ Speed) and is the measure of total combat power of a pokemon.
* drop the stats that are used to compute "Total" from the table

**Make sure to print out the result for the last step**

In [0]:
Pokemon=Pokemon.assign(Total=lambda x : x.HP+x.Attack+x.Defense+x.Sp_Atk+x.Sp_Def+ x.Speed)\
   .drop(columns={"HP","Attack","Defense","Sp_Atk","Sp_Def","Speed"})
Pokemon

     PokeDex                   Name    Type_1  ... Generation  Legendary  Total
0          1              Bulbasaur     Grass  ...          1      False    318
1          2                Ivysaur     Grass  ...          1      False    405
2          3               Venusaur     Grass  ...          1      False    525
3          4             Charmander      Fire  ...          1      False    309
4          5             Charmeleon      Fire  ...          1      False    405
5          6              Charizard      Fire  ...          1      False    534
6          7               Squirtle     Water  ...          1      False    314
7          8              Wartortle     Water  ...          1      False    405
8          9              Blastoise     Water  ...          1      False    530
9         10               Caterpie       Bug  ...          1      False    195
10        11                Metapod       Bug  ...          1      False    205
11        12             Butterfree       Bug  ...          1      False    395
12        13                 Weedle       Bug  ...          1      False    195
13        14                 Kakuna       Bug  ...          1      False    205
14        15               Beedrill       Bug  ...          1      False    395
15        16                 Pidgey    Normal  ...          1      False    251
16        17              Pidgeotto    Normal  ...          1      False    349
17        18                Pidgeot    Normal  ...          1      False    479
18        19                Rattata    Normal  ...          1      False    253
19        20               Raticate    Normal  ...          1      False    413
20        21                Spearow    Normal  ...          1      False    262
21        22                 Fearow    Normal  ...          1      False    442
22        23                  Ekans    Poison  ...          1      False    288
23        24                  Arbok    Poison  ...          1      False    438
24        25                Pikachu  Electric  ...          1      False    320
25        26                 Raichu  Electric  ...          1      False    485
26        27              Sandshrew    Ground  ...          1      False    300
27        28              Sandslash    Ground  ...          1      False    450
28        29               Nidoran♀    Poison  ...          1      False    275
29        30               Nidorina    Poison  ...          1      False    365
..       ...                    ...       ...  ...        ...        ...    ...
691      692              Clauncher     Water  ...          6      False    330
692      693              Clawitzer     Water  ...          6      False    500
693      694             Helioptile  Electric  ...          6      False    289
694      695              Heliolisk  Electric  ...          6      False    481
695      696                 Tyrunt      Rock  ...          6      False    362
696      697              Tyrantrum      Rock  ...          6      False    521
697      698                 Amaura      Rock  ...          6      False    362
698      699                Aurorus      Rock  ...          6      False    521
699      700                Sylveon     Fairy  ...          6      False    525
700      701               Hawlucha  Fighting  ...          6      False    500
701      702                Dedenne  Electric  ...          6      False    431
702      703                Carbink      Rock  ...          6      False    500
703      704                  Goomy    Dragon  ...          6      False    300
704      705                Sliggoo    Dragon  ...          6      False    452
705      706                 Goodra    Dragon  ...          6      False    600
706      707                 Klefki     Steel  ...          6      False    470
707      708               Phantump     Ghost  ...          6      False    309
708      709              Trevenant     Ghost  ...          6      False    474
709      710  PumpkabooAverage Size     Ghost  ...          6      False    335
710      711  GourgeistAverage Size     Ghost  ...          6      False    494
711      712               Bergmite       Ice  ...          6      False    304
712      713                Avalugg       Ice  ...          6      False    514
713      714                 Noibat    Flying  ...          6      False    245
714      715                Noivern    Flying  ...          6      False    535
715      716                Xerneas     Fairy  ...          6       True    680
716      717                Yveltal      Dark  ...          6       True    680
717      718       Zygarde50% Forme    Dragon  ...          6       True    600
718      719                Diancie      Rock  ...          6       True    600
719      720    HoopaHoopa Confined   Psychic  ...          6       True    600
720      721              Volcanion      Fire  ...          6       True    600

[721 rows x 7 columns]

### Q3 [4 points]

* Create a sub-table "Pokemon_sub" that includes only the pokemon name and the Pokedex for all the **Legendary**  pokemon from **Generation 1** and **Generation 2**. 

**Make sure to print out the content of the sub-table**

In [0]:
filter=((Pokemon["Generation"]==1) |(Pokemon["Generation"]==2))& Pokemon["Legendary"]==True
Pokemon.loc[filter,["Name","PokeDex"]]

         Name  PokeDex
143  Articuno      144
144    Zapdos      145
145   Moltres      146
149    Mewtwo      150
242    Raikou      243
243     Entei      244
244   Suicune      245
248     Lugia      249
249     Ho-oh      250

###Q4 [5 points]

A pokemon might belong to only one type or two types. If a pokemons belongs to only one type, "Type_2" field will be missing that Pokemon

We call a pokemon that belongs to only one type a "single-type" pokemon and a pokemon that belongs to two types a "double-type" pokemon. For example, Snorlax is a "single-type" pokemon and belongs to Normal type. For another example, Bulbasaur is a "double-type" pokemon and belongs to both Poison type and Grass type. 	  

* Convert the missing values to a format that can be recognized by Pandas.
* Report for each pokemon type, how many "single-type" pokemon exists.

**Make sure to print out the result for the last step**

In [0]:
Pokemon=Pokemon.replace("***",np.nan)
Pokemon[Pokemon["Type_2"].isna()]["Type_1"].value_counts()

#if no replace("***",np.nan), 1 point will be deducted
#Python will not treat "***" as missing values. Thus, you cannot use any
#methods that can be used to deal with missing values.

Normal      60
Water       57
Grass       33
Psychic     32
Fire        28
Electric    26
Fighting    20
Bug         17
Fairy       15
Poison      15
Ground      13
Ice         12
Dragon      11
Ghost        9
Rock         9
Dark         9
Steel        4
Flying       1
Name: Type_1, dtype: int64

###Q5 [7 points]

It is important to have the ability of learning programming by yourself. Let's use some adequate methods to find the pokemon with the highest total combat power in each type.  

In this table, you should have 3 columns

(1) column 1: Type name

(2) column 2: name of the most power pokemon for this pokemon type

(3) column 3: total combat power for this pokemon

[hint: You might find the following four methods to be relevant. However, there are multiple ways to achieve the goal. You do not need to use them in your answer. 

> `concat` method

> `sort_values` method

> `groupby` method

> `first` method

In [0]:
#This method will report one of the highest CP pokemon within each type group
#Give full points as long as students can find the correct highest total for each pokemon type


#Version 1:
Pokemon_type1=Pokemon[["Name","Type_1","Total"]].rename(columns={"Type_1":"Type"})
Pokemon_type2=Pokemon[["Name","Type_2","Total"]].rename(columns={"Type_2":"Type"})
Pokemon_combined=pd.concat([Pokemon_type1,Pokemon_type2]).dropna()
Pokemon_grouped=Pokemon_combined.sort_values(by=["Total"],ascending=False).groupby("Type").first()
Pokemon_grouped

                           Name  Total
Type
Bug                    Genesect    600
Dark                    Yveltal    680
Dragon                 Rayquaza    680
Electric                 Zekrom    680
Fairy                   Xerneas    680
Fighting   KeldeoOrdinary Forme    580
Fire                      Ho-oh    680
Flying                    Ho-oh    680
Ghost     GiratinaAltered Forme    680
Grass         ShayminLand Forme    600
Ground                  Groudon    670
Ice                      Kyurem    660
Normal                   Arceus    720
Poison                   Crobat    535
Psychic                   Lugia    680
Rock                    Diancie    600
Steel                    Dialga    680
Water                    Palkia    680

In [0]:
#Version 2:
Pokemon_type1=Pokemon[["Name","Type_1","Total"]].rename(columns={"Type_1":"Type"})
Pokemon_type2=Pokemon[["Name","Type_2","Total"]].rename(columns={"Type_2":"Type"})
Pokemon_combined=pd.concat([Pokemon_type1,Pokemon_type2]).dropna()
Pokemon_combined.groupby("Type").max()

                         Name  Total
Type
Bug                   Yanmega    600
Dark                 Zweilous    680
Dragon       Zygarde50% Forme    680
Electric               Zekrom    680
Fairy                 Xerneas    680
Fighting             Virizion    580
Fire                   Vulpix    680
Flying                  Zubat    680
Ghost                  Yamask    680
Grass     WormadamPlant Cloak    600
Ground       Zygarde50% Forme    670
Ice                   Weavile    660
Normal              Zigzagoon    720
Poison                  Zubat    535
Psychic                  Xatu    680
Rock                   Tyrunt    600
Steel                 Steelix    680
Water                  Wooper    680

In [0]:
##An even better answer that will take care of ties

Pokemon_type1=Pokemon[["Name","Type_1","Total"]].rename(columns={"Type_1":"Type"})
Pokemon_type2=Pokemon[["Name","Type_2","Total"]].rename(columns={"Type_2":"Type"})
Pokemon_combined=pd.concat([Pokemon_type1,Pokemon_type2]).dropna()
Type_Total=Pokemon_combined.groupby("Type").max()
Type_Total_cleaned=pd.DataFrame({"Type": Type_Total.index.values, "max":Type_Total["Total"].values})

Pokemon_combined.merge(Type_Total_cleaned, left_on=["Type","Total"],right_on=["Type","max"]).drop(columns="max")

                     Name      Type  Total
0                  Mewtwo   Psychic    680
1                   Lugia   Psychic    680
2                  Crobat    Poison    535
3               Tyranitar      Rock    600
4                 Diancie      Rock    600
5                   Ho-oh      Fire    680
6                Reshiram      Fire    680
7                 Groudon    Ground    670
8                Rayquaza    Dragon    680
9                Reshiram    Dragon    680
10                 Zekrom    Dragon    680
11                 Dialga    Dragon    680
12                 Palkia    Dragon    680
13  GiratinaAltered Forme    Dragon    680
14                 Dialga     Steel    680
15                 Palkia     Water    680
16  GiratinaAltered Forme     Ghost    680
17      ShayminLand Forme     Grass    600
18                 Celebi     Grass    600
19                 Arceus    Normal    720
20               Genesect       Bug    600
21                Xerneas     Fairy    680
22                Yveltal      Dark    680
23                  Lugia    Flying    680
24                  Ho-oh    Flying    680
25               Rayquaza    Flying    680
26                Yveltal    Flying    680
27               Cobalion  Fighting    580
28              Terrakion  Fighting    580
29               Virizion  Fighting    580
30   KeldeoOrdinary Forme  Fighting    580
31                 Zekrom  Electric    680
32                 Kyurem       Ice    660

## Exercise 2 [Total: 38 points]


###Setting
In this exercise, we will work with a dataset which explores the store sales.

Before doing the assignment, please study this dataset here https://www.kaggle.com/c/rossmann-store-sales/data

In [0]:
#Load the dataset
link="https://drive.google.com/open?id=1Q6J0q4tlWJ7TajX6hMSvZ8tK3CyDD8QY"
_,id=link.split("=")
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Sales.csv')  
Sales = pd.read_csv('Sales.csv')
Sales.head(5)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

*You might see a warning when importing the data. This is because StateHoliday has both values in string and numbers. No worries this for now.*

### Q1 [7 points]

Run the following model

$$Sales=\beta_0+\beta_1 Customers + \epsilon$$

> (1) Print out the summary output

> (2) Based on regression result, answer the following questions

>> Interpret  $\hat{\beta_0}$ and $\hat{\beta_1}$ based on the regression output. 

>> Reason whether there is a negative correlation between the number of customers and Sales

>> Report the 99% confidence interval for $\beta_1$

In [0]:
#3 points
model=ols(formula="Sales~Customers",data=Sales).fit()
print(model.summary())
#2 points
#beta0_hat: the sales is expected to be 1077.7365 when customers=0
#beta1_hat: the sales is expected to be 7.417 higher when the number of customers increases by 1

#1 ponit
#No, the p-value is 0 and beta1 is positive. It is suggesting a positive correlation.

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.801
Model:                            OLS   Adj. R-squared:                  0.801
Method:                 Least Squares   F-statistic:                 4.082e+06
Date:                Tue, 01 Oct 2019   Prob (F-statistic):               0.00
Time:                        18:10:37   Log-Likelihood:            -9.0214e+06
No. Observations:             1017209   AIC:                         1.804e+07
Df Residuals:                 1017207   BIC:                         1.804e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1077.7365      2.883    373.869      0.000    1072.087    1083.386
Customers      7.4171      0.004   2020.337      0.000       7.410       7.424
==============================================================================
Omnibus:                   191239.897   Durbin-Watson:                   1.527
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          4065690.900
Skew:                          -0.326   Prob(JB):                         0.00
Kurtosis:                      12.772   Cond. No.                     1.33e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [0]:
#0.5 point
model.conf_int(0.01)
#0.5 point
#thus the 99% confidence interval for beta1 is 7.408 and 7.427

                     0            1
Intercept  1070.311260  1085.161746
Customers     7.407605     7.426518

###Q2. [7 points]

* For the model above, use a Python attribute we discussed in class to retrieve the values for $\hat{\beta_0}$ and $\hat{\beta_1}$.

* Based on these two values, give the prediction for $\widehat{Sales}$ when number of customers=110.

* Find out the average of the actual Sales for all the records that have customers=110.

In [0]:
#2 points
params=model.params
#2 points
params[0]+params[1]*100

1819.4426604714506

In [0]:
#3 points
np.mean(Sales[Sales["Customers"]==110]["Sales"])

908.1428571428571

###Q3 [8 points]

One person argues the following:

* He found from the data that we should expect 0 Sales when we have 0 customers
* Since $\beta_0$ is the expected Sales price, when the number of customers is equal to 0, it should be set equals to 0.  

> Based on data, support that his first argument is true.

> Provide an argument on why the second point might be problematic. 

You will find the following articles useful:
[Article 1](https://dynamicecology.wordpress.com/2017/04/13/dont-force-your-regression-through-zero-just-because-you-know-the-true-intercept-has-to-be-zero/)

In [0]:
# 4 points
np.sum(Sales[Sales["Customers"]==0]["Sales"])

# 2 points
#The model might be mis-specified 
# 1 point
#Having beta0 can gives a particial remedy to a mis-specified model [1 point]

#[1 point for a discussion in the context of this study]
#For example, on might want to regress Sales on Cusomters without in intercept. 
#However, this is only okay if the actual relationship between Sales and customers is linear
#In reality, this relationship can be non-linear as we discussed in class
#Thus, we need to intercept to absorb some error due to mis-specification.

0

###Q4. [5 points] 

Now, run the following model:

$Sales=\beta_0+\beta_1 Customers +\beta_2 Open + \epsilon$

> Fit the model and print out the summary table.

> Interpret $\hat{\beta_0}$ , $\hat{\beta_1}$ and $\hat{\beta_2}$.

In [0]:
#2 points
model1=ols(formula="Sales~Customers+Open",data=Sales).fit()
print(model1.summary())

#3 points
#beta0_hat: the sales is expected to be 0 when the store is closed
#beta1_hat: the sales is expected to be 7.417 higher when the number of customers increases by 1 [conditional on the store being open. Students do not have to 
#add the "conditional on" part for this interpretation as when store is closed, the number of customers does not have any variation]
#beta2_hat: the mere fact that the store being open will bring sales equals 2095 even if the number of customers is 0. [This does not make 
#a lot of sense. However, notice the number of customers can only be 0 when the store is closed]

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.826
Model:                            OLS   Adj. R-squared:                  0.826
Method:                 Least Squares   F-statistic:                 2.421e+06
Date:                Tue, 01 Oct 2019   Prob (F-statistic):               0.00
Time:                        18:22:29   Log-Likelihood:            -8.9507e+06
No. Observations:             1017209   AIC:                         1.790e+07
Df Residuals:                 1017206   BIC:                         1.790e+07
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -2.7e-11      3.859     -7e-12      1.000      -7.563       7.563
Customers      6.3720      0.004   1464.540      0.000       6.363       6.381
Open        2095.4121      5.380    389.446      0.000    2084.867    2105.958
==============================================================================
Omnibus:                   174664.307   Durbin-Watson:                   1.538
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2877540.904
Skew:                           0.331   Prob(JB):                         0.00
Kurtosis:                      11.213   Cond. No.                     3.06e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.06e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

###Q5. [4 points]

Based on regression, prove that Q4 is equivalent to regressing "Sales" on "Customers" using only observations with stores that are open.

In [0]:
#[3 points]
model2=ols(formula="Sales~Customers",data=Sales[Sales["Open"]==True]).fit()
print(model2.summary())

#[1 point]
#[students can discuss either inference or prediction]
#We can see that betas does not change. The marginal effect of customer on the sales is the same. 
#We can take a look at the prediction. both will give us the same prediction.
#When store=closed, sales=0
#when store=open, sales=2095+6.3*cutomers

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.678
Model:                            OLS   Adj. R-squared:                  0.678
Method:                 Least Squares   F-statistic:                 1.780e+06
Date:                Tue, 01 Oct 2019   Prob (F-statistic):               0.00
Time:                        18:26:27   Log-Likelihood:            -7.5086e+06
No. Observations:              844392   AIC:                         1.502e+07
Df Residuals:                  844390   BIC:                         1.502e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2095.4121      4.116    509.149      0.000    2087.346    2103.478
Customers      6.3720      0.005   1334.346      0.000       6.363       6.381
==============================================================================
Omnibus:                   121855.115   Durbin-Watson:                   1.507
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1412780.405
Skew:                           0.302   Prob(JB):                         0.00
Kurtosis:                       9.308   Cond. No.                     1.85e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.85e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

###Q6. [7 points]
Store table gives the information of each store. 

* Merge Sales table with Store table
* Run the following regression model

$$Sales=\beta_0+\beta_1 Customers +  \beta_2 Open + \beta_3 Competition Distance+\epsilon$$

* Based on the regression result, interpret $\widehat{\beta_3}$. Is this consistent with your expectation? Why?

In [0]:
link="https://drive.google.com/open?id=1g6URzUJnhCLOtg0a9TTHC18KYcqwxvoc"
_,id=link.split("=")
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('myfile_store.csv')  
Store = pd.read_csv('myfile_store.csv')
Store.head(5)

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]

In [0]:
#[1 point]
Merged=Sales.merge(Store)

#[2 points]
model3=ols(formula="Sales~Customers+Open+CompetitionDistance",data=Merged).fit()
print(model3.summary())

#[1 point]
#beta3 means conditional on the number of customers and the store status being constant, 
#when competition distance increases by 1, the sales is expected to increase by 0.03.

#[3 points]
#Sample answer 1
#This makes sense because when we comeptition distance increases, the same
#customers who visit the store might have fewer options from other competitors. 
#[higher cost of driving to other stores]
#Thus, they are more likely to purchase more from the same store.

#Sample answer 2
#This does not make sense.  I would expect that once the number of customers is fixed, if a store makes high
#competition distance, it will be the rural area. I will be expect the customers to have 
#lower purchase power and thus leading to lower sales [a negative beta]

#Wrong answer 
#This does not make sense. I would expect that once the number of customers is fixed, competition distance
#should not make a different in the customer choice. Thus, I should expect this beta to be 0. [why do you think there is 
#no difference? Deduct 0.5 points]

#Wrong answer
#It makes sense. When competition distance is high, more customers will be coming to the store, leading to higher sales.
#[This answer ignored the fact that we are already fixing the number of customers. Deduct 1.5]

#Wrong answer
#This makes sense because I expect the CompetitionDistance and Sales to have a positive relationship [This 
#answer not only is not directly addressing the solution, but also treated the question as a simple linear 
#regression. Deduct 2.5 points]

#Wrong answer
#This makes sense because I expect the CompetitionDistance and Sales to have a positive relationship conditional on other
#factors being constant  [Did not address why. Deduct 2 points]

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.830
Model:                            OLS   Adj. R-squared:                  0.830
Method:                 Least Squares   F-statistic:                 1.647e+06
Date:                Tue, 01 Oct 2019   Prob (F-statistic):               0.00
Time:                        18:26:47   Log-Likelihood:            -8.9181e+06
No. Observations:             1014567   AIC:                         1.784e+07
Df Residuals:                 1014563   BIC:                         1.784e+07
Df Model:                           3
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            -156.6383      3.981    -39.342      0.000    -164.442    -148.835
Customers               6.4533      0.004   1481.493      0.000       6.445       6.462
Open                 2028.8475      5.361    378.431      0.000    2018.340    2039.355
CompetitionDistance     0.0296      0.000    143.305      0.000       0.029       0.030
==============================================================================
Omnibus:                   173131.339   Durbin-Watson:                   0.581
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          3065929.502
Skew:                           0.285   Prob(JB):                         0.00
Kurtosis:                      11.497   Cond. No.                     3.68e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.68e+04. This might indicate that there are
strong multicollinearity or other numerical problems.